body{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    background: #000;
    opacity: 0.7;
    width: 250px;
    height: 100%;
    transition: .3s;
    z-index: 1;
}
.active{
    left: 0px;
}

ul{
    margin: 0;
    padding: 20px 0;
}

ul li{
    list-style: none;
}
ul li a{
    padding: 20px 30px;
    color: #fff;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    outline: none;
}
ul li a:hover{
    transition: .5s;
    background: #f5f5f5;
    color: #000;
    opacity: 0.8;
    text-decoration: none;
    outline: none;
}
ul li a:focus{
    outline: none;
}

.sidebarBtn{
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    background: #000;
    border: none;
    outline: none;

}
.sidebarBtn:focus{
    outline: none;
}

.sidebarBtn span{

    display: block;
    width: 33px;
    height: 3px;
    background: #f5f5f5;
    position: absolute;
    top: 24px;
    transition: .3s;
}
.sidebarBtn span:before{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #f5f5f5;
    transition: .3s;
}
.sidebarBtn span:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #f5f5f5;
    transition: .3s;
}

.sidebarBtn.toggle span{
    background: transparent;
}

.sidebarBtn.toggle span:before{
    top: 0;
    transform: rotate(45deg);
}
.sidebarBtn.toggle span:after{
    top: 0;
    transform: rotate(-45deg);
}

.parallax-window {
    min-height: 700px;
}



@media (max-width: 476px) {
    .parallax-window {
        min-height: 470px;
    }
    .fly-in-text li {
        display: inline-block;
        margin-right: 10px;
        font-size: 5em;
        color: #fff;
        opacity: 1;
        transition: all 3s ease;
    }


}


.contentBox
{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    z-index: 10;
}


.contentBox h1{
    color: #fff;
    font-size: 4.5rem;
    opacity: 0.6;

}


.contentBox h2{
    color: #fff;
    font-size: 3.5rem;
    opacity: 0.6;
}

.contentBox p{

    color: #fff;
    font-size: 1.3rem;
}

.sec1{

    background: #000;
}


.headerText{
    font-size: 2.5rem;
    color: #fff;
}
.headerText h2{
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.placeBox{
    position: relative;
    max-width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #000;
    margin-top: 30px;

}

.placeBox .imgBx{
    width: 100%;
    height: 100%;

}

.placeBox .imgBx img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.placeBox .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.placeBox .content h3{
    position: relative;
    margin: 0;
    padding: 10px;
    background: rgba(0,0,0,.95);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;

}

.placeBox .content h3 span{
    font-size: 16px;
    font-weight: 500;
}


.sec2{
    position: relative;
    top: 0;
    width: 100%;
}

.resume{
    background-color: #000;
    position: relative;
    padding: 100px 0;
}

.sec2 h2{
    color: #fff;
    font-size: 5.5rem;
    vertical-align: center;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.8;

}

.btnD1{
    border: 2px solid #fff;
    color: #fff;
    background: #000;
    border-radius: 50px;
    padding: 12px 40px;
    font-size: 1.15rem;
    outline: none;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;

}
.btnD1:hover{
    background: lavender;
    transition: 0.7s;
    color: black;
}

.post{
    position: relative;
    width: 100%;
    margin-top: 30px;

}

.post .imgBx{
    height: 400px;
}

.post .imgBx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post .content{
    padding: 15px;
    background: #000;
    color: #fff;
}

.post .content h1{
    margin: 0;
    padding: 0 0 10px;
    font-weight: 600;
    font-size: 1.5rem;
}

.contact{
    position: relative;
}

.contact .form-control{
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,.2);
    height: 50px;
    border-radius: 0;
    background: lightgrey;
    color: #000000;
    font-size: 1.25rem;
}
.contact .form-control:hover,
.contact .form-control:focus{
    background: transparent;
    background: lightgray;
    color: #000;
    box-shadow: none;
}

.contact .textarea{
    min-height: 100px;
}

.contact label{
    color: #000;
    font-size: 1.25rem;
}

.contact form{
    z-index: 1000;
    position: relative;
}

footer{
    background: #000;
    padding: 50px 0 0;
}

.sci{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    list-style: none;
    margin: 0 20px;

}


.sci li a{
    color: #777;
    font-size: 2em;
    transition: 0.5s;
}

.sci li a:hover{
    color: #fff;
}

.cprty{
    margin-top: 20px;
    color: #777;
    padding: 2px;
    text-align: center;
}

.cprty a,
.cprty a:hover{
    color: #fff;
}


@media (max-width: 992px){

    .banner{
        min-height: 100vh;
        padding: 100px 0;
    }
    .sec1 h2,
    .contentBox h1{
        font-size: 2rem;
    }

    sec1{
        padding: 20px 0;
    }

    sec1 p{
        font-size: 9px;
    }

    .headerText h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .resume{

        padding: 20px 0;
    }

    .post .imgBx{
        height: 200px;
    }

    .contact .container{
        padding: 20px;
    }

    .contact .form-control{
        height: 40px;
        border: 1px solid #fff;
    }

    .btnD1{
        padding: 10px 40px;
        margin-top: 10px;

    }

    footer{
        padding: 20px ;
    }

    .sci li{
        margin: 20px;
    }

    .sci li a{
        color: #777;
        font-size: 1.5rem;
        transition: 0.5s;
    }
}

.dropdown .dropdown-menu{
    outline: none;
    background: transparent;
    color: #fff;
    transition: 0.5s;
    border: none;
}

.dropdown .dropdown-item{
    color: #fff;
    border: none;
}

.dropdown{
    outline: none;
    border: none;
}
.hr1{
    width: 250px;
    size: 3px;
    color: #fff;
}

.post .imgBx{
    height: 200px;
}

.contact .container{
    padding: 20px;
    color: #fff;
}

.contact .form-control{
    height: 40px;
    border: 1px solid #fff;
}

.btnD1{
    padding: 10px 40px;
    margin-top: 10px;

}
contact label {
    color: #fff;
    font-size: 1.25rem;
}
hr{
    color: #fff;
}

/* */
::-webkit-scrollbar {
    display: none;
}

/*Enter */

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
    font-size: 40px;


}

.welcome-section{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
}

.content-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fly-in-text{
    list-style: none;

}

.fly-in-text li {
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
    font-size: 1em;
    color: #fff;
    opacity: 1;
    transition: all 3s ease;
}

.fly-in-text li:nth-child(13){
    margin-right: 0;
}

.enter-button{
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    opacity: 1;
    margin-top: 30px;
    transition: all 1s ease 3s;
}
.enter-button:hover{
    text-decoration: none;
    color: #fff;
}

.content-hidden .fly-in-text li{
    opacity: 0;
}
.content-hidden .fly-in-text li:nth-child(1){transform: translate3d(-110px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(2){transform: translate3d(-90px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(3){transform: translate3d(-70px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(4){transform: translate3d(-50px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(5){transform: translate3d(-30px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(6){transform: translate3d(-10px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(7){transform: translate3d(0px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(8){transform: translate3d(10px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(9){transform: translate3d(30px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(10){transform: translate3d(50px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(11){transform: translate3d(70px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(12){transform: translate3d(90px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(13){transform: translate3d(110px, 0, 0);}
.content-hidden .enter-button {opacity: 0; transform: translate3d(0, -30px, 0)}


